@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  /* width: 100vw; */
  background-color: #DCE1E3;

  font-family: Quattrocento, sans-serif;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 6rem;
  width: 100%;

  position: fixed;
  z-index: 20;

  font-family: Oswald, sans-serif;

  background-color: #004E7C;
}

#navbar a {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 2.1rem;

  /* padding: 1rem 2rem; */
  padding-right: 4rem;

  color: white;
}

#navbar a:hover {
  text-decoration: underline;
}

@media (min-width: 400px) and (max-width: 600px) {
  #navbar a {
    padding-right: 2rem;
  }
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-size: 1.2rem;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  background-image: url("https://design-style-guide.freecodecamp.org/downloads/fcc_primary_small.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 85%;

}

#welcome-section h1 {
  flex-basis: 10%;
}

#welcome-section h2 {
  padding-bottom: 2rem;
  flex-basis: 10%;

  text-align: center;
}


#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: #5C5F58;
  
}

@media (min-width: 400px) and (max-width: 600px) {
  #projects {
    /* flex-wrap: wrap; */
  }
}

#project-tile {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 3rem;

  border-radius: 25px;

  background-color: #9e9e9e56;
}

.projects-individ {
  margin-top: 2rem;
  padding: 3rem;
  padding-bottom: 2rem;

  text-align: center;
}

.projects-individ img {
  border-radius: 50%;
  width: 350px;
  height: 350px;

  transition: 0.5s;
}

.projects-individ img:hover {
  border-radius: 20%;
  scale: 90%;
  opacity: 0.3;

  transition: 0.2s;
}

.projects-individ h2 {

  margin-top: 2rem;

  text-transform: uppercase;
  color: white;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 5rem;
}

/* #profile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

} */

#profile-link a {
  
  text-decoration: none;
  /* font-size: 1.5rem; */

  color: black;
}

#github-img {
  max-width: 200px;
}
